# Machine Learning Practice
We will work on simple machine learning problems  
We will use the scikitlearn library from scipy

**Import the useful libraries**

In [1]:
import pandas as pd

#### Read data

In [4]:
df = pd.read_csv('US_housing.csv')
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [12]:
df = df.drop(columns='Address') # drop address column

#### Scale the features

In [19]:
# Scale the features
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()

# separate features from label
X = scaler.fit_transform(df[df.columns.values[:-1]]) # features
y = df.Price.values # label

#### Split data into train and test sets

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape, X_test.shape)

(3500, 5) (1500, 5)

#### Train model

In [32]:
from sklearn.linear_model import LinearRegression

In [42]:
reg = LinearRegression().fit(X_train, y_train)
reg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Test model

In [56]:
test1 = reg.predict(X_test)
test1

array([1308536.13592601, 1237122.72746459, 1243835.62817083, ...,
       1457119.79297222, 1483428.953093  , 1047510.59737207])

### Measure model erformance

In [61]:
from sklearn.metrics import mean_squared_error
err = mean_squared_error(y_test, test1)
err

10068422551.40088

**Your task is to reduce the mean saquared error.**